body{
    background-color: rgb(6, 5, 5);  
    font-size: 16px;
    background-image: url(bgrd.jpg);
    background-attachment: fixed;
    background-size: cover;

}

#name{
    font-size:2em;
    font-family:sans-serif;
    font-style:italic;
    color: white;
    text-align: center;
    margin-top: 80px;
}

.profilepic img{
    width:200px;
    height: 200px;
    display: block;
    margin:20px auto;
    object-fit: cover;
    border-radius: 50%;
    animation-name: grow;
    animation-duration: 5s;
    
    
}
@keyframes grow{
    50%{transform: scale(2,2);}
}

#about{
    font-family:sans-serif;
    font-style:italic;
    color: rgb(55, 136, 174); 
    text-decoration: underline;
}

.details{
    color: hsl(0, 0%, 100%);
    border:1px solid grey;
    padding:20px;
    background-color: hsl(0, 1%, 14%);
}

#link{
    text-decoration: none;
    font-size: 20px;
    color: hsl(180, 100%, 50%);
}
#link:hover{
    color: hsl(0, 59%, 41%);
}

.skill{
    margin-bottom: 10px;
}

.skill-name{
    margin-bottom: 5px;
}

.skill-bar{
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
}

.skill-level{
    height: 100%;
    color:white;
    text-align: right;
    padding-right: 10px;
    line-height: 20px;
    border-radius: 20px;
}

.cv-button{
    background-color: #007bff;
    color:white;
    border-radius: 5px ;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
   
}

.cv-button:hover{
    background-color: #0056b3;
}

.button{
    margin-top: 40px;
    margin-left: 40px;
}

.project{
    background-color: #007bff;
    color:white;
    border-radius: 5px ;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
}
.project:hover{
    background-color: #0056b3;
}

#email{
    text-decoration: none;
}
#handles{
    text-decoration: none;
    padding:20px;
    color:#007bff;
}

.footer{
    text-align: center;
    color: white;
   
}
.end{
    background-color: #242323;
}



/*STYLING FOR PAGE1.HTML*/
.edu{
    color: hsl(0, 0%, 100%);
    border:1px solid grey;
    padding:20px;
    background-color: hsl(0, 1%, 14%);
}

@media(max-width:600px){
    body{
        font-size: 15px;
    }
}